# Dependencies
node_modules/

# Build output
dist/
*.local

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Env
.env
.env.local
.env.*.local

# TypeScript / Vite
*.tsbuildinfo
.vercel
